01-lead-capture.json
{
  "name": "Insurance Lead Capture & Lifecycle",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 60 }] }
      },
      "id": "form-poll-trigger",
      "name": "Form Poll Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/hooks/YOUR_FORM_ID_HERE/catch",
        "requestMethod": "GET",
        "sendHeaders": true,
        "headerParameters": { "parameters": [] },
        "sendQuery": true,
        "queryParameters": { "parameters": [] },
        "info": "Replace YOUR_FORM_ID_HERE with your actual GHL Form ID from your GHL form URL"
      },
      "id": "form-trigger",
      "name": "Form Submission Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/contacts/",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.GHL_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "firstName", "value": "={{$json.first_name}}" },
            { "name": "lastName", "value": "={{$json.last_name}}" },
            { "name": "email", "value": "={{$json.email}}" },
            { "name": "phone", "value": "={{$json.phone}}" },
            { "name": "locationId", "value": "GXAzp8lTmMJ93EPLDBmW" },
            { "name": "source", "value": "Website Form" }
          ]
        }
      },
      "id": "create-ghl-contact",
      "name": "Create GHL Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [540, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet score = 50;\nconst age = parseInt(data.age) || 0;\nif (age >= 60 && age <= 75) score += 30;\nelse if (age >= 50 && age < 60) score += 15;\nconst licensedStates = ['FL','TX','CA','NC','SC','MI'];\nconst state = (data.state || '').toUpperCase();\nif (licensedStates.includes(state)) score += 20;\nconst coverage = (data.coverage_type || '').toLowerCase();\nif (coverage.includes('medicare')) score += 25;\nelse if (coverage.includes('life')) score += 20;\nelse if (coverage.includes('health')) score += 15;\nif (data.email && data.phone) score += 15;\nreturn { score, age, state, coverage, originalData: data };"
      },
      "id": "lead-scorer",
      "name": "Lead Scorer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "id": "score-threshold", "leftValue": "={{$json.score}}", "rightValue": 70, "operator": { "type": "number", "operation": "gte" } }
          ]
        }
      },
      "id": "score-filter",
      "name": "High Score Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "{{$env.TELEGRAM_CHAT_ID}}" },
            { "name": "text", "value": "🎯 *New High-Value Lead*\\n\\n*Name:* {{$json.originalData.first_name}} {{$json.originalData.last_name}}\\n*Email:* {{$json.originalData.email}}\\n*Phone:* {{$json.originalData.phone}}\\n*Score:* {{$json.score}}/100\\n*Coverage:* {{$json.originalData.coverage_type}}\\n*State:* {{$json.state}}" },
            { "name": "parse_mode", "value": "Markdown" }
          ]
        }
      },
      "id": "telegram-high",
      "name": "Telegram High Priority Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "{{$env.TELEGRAM_CHAT_ID}}" },
            { "name": "text", "value": "📥 *New Lead*\\n\\n*Name:* {{$json.originalData.first_name}} {{$json.originalData.last_name}}\\n*Email:* {{$json.originalData.email}}\\n*Phone:* {{$json.originalData.phone}}\\n*Score:* {{$json.score}}/100" },
            { "name": "parse_mode", "value": "Markdown" }
          ]
        }
      },
      "id": "telegram-standard",
      "name": "Telegram Standard Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/contacts/{{$json.id}}/tags",
        "requestMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.GHL_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "tags", "value": "=[\"{{$json.score >= 70 ? 'High Value Lead' : 'Standard Lead'}}\", \"{{$json.originalData.coverage_type}}\"]" }
          ]
        }
      },
      "id": "update-ghl-tags",
      "name": "Update GHL Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "operation": "schedule",
        "entityType": "contact",
        "contactId": "={{$json.id}}",
        "rule": { "frequency": "once", "day": 1, "month": "day", "hour": 10, "minute": 0 },
        "title": "Follow up with {{$json.originalData.first_name}} {{$json.originalData.last_name}}",
        "assignedTo": "={{$env.AGENT_USER_ID}}",
        "notes": "Lead Score: {{$json.score}}/100 | Coverage: {{$json.originalData.coverage_type}}"
      },
      "id": "create-followup-task",
      "name": "Create Follow-up Task",
      "type": "n8n-nodes-base.goHighLevel",
      "typeVersion": 1,
      "position": [1640, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "fromAddress": "={{$env.EMAIL_FROM}}",
        "toAddress": "={{$json.originalData.email}}",
        "subject": "Thanks for reaching out, {{$json.originalData.first_name}}!",
        "html": "<h1>Welcome to Buckalew Financial!</h1><p>Hi {{$json.originalData.first_name}},</p><p>Thank you for your interest in <strong>{{$json.originalData.coverage_type}}</strong>. Our team will review your inquiry and reach out within 24 hours.</p><p>Best regards,<br/>The Buckalew Financial Team</p>"
      },
      "id": "welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1.1,
      "position": [1860, 300]
    }
  ],
  "connections": {
    "Form Poll Trigger": { "main": [[{ "node": "Form Submission Trigger", "type": "main", "index": 0 }]] },
    "Form Submission Trigger": { "main": [[{ "node": "Create GHL Contact", "type": "main", "index": 0 }]] },
    "Create GHL Contact": { "main": [[{ "node": "Lead Scorer", "type": "main", "index": 0 }]] },
    "Lead Scorer": { "main": [[{ "node": "High Score Filter", "type": "main", "index": 0 }]] },
    "High Score Filter": {
      "main": [
        [{ "node": "Telegram High Priority Alert", "type": "main", "index": 0 }],
        [{ "node": "Telegram Standard Alert", "type": "main", "index": 0 }]
      ]
    },
    "Telegram High Priority Alert": { "main": [[{ "node": "Update GHL Tags", "type": "main", "index": 0 }]] },
    "Telegram Standard Alert": { "main": [[{ "node": "Update GHL Tags", "type": "main", "index": 0 }]] },
    "Update GHL Tags": { "main": [[{ "node": "Create Follow-up Task", "type": "main", "index": 0 }]] },
    "Create Follow-up Task": { "main": [[{ "node": "Send Welcome Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["insurance", "lead-capture", "medicare"],
  "meta": { "templateCredsSetupCount": 0 }
}
