03-birthday-milestone.json
{
  "name": "Client Birthday & Medicare Milestone Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": { "cronExpression": "0 8 * * *" },
        "activate": true,
        "timezone": "America/New_York"
      },
      "id": "daily-trigger",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1.2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/contacts/?locationId=GXAzp8lTmMJ93EPLDBmW&limit=100",
        "requestMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.GHL_API_KEY}}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        }
      },
      "id": "get-contacts",
      "name": "Get All Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "jsCode": "// Find contacts with birthdays in the next 7 days or turning 65\nconst contacts = $input.all();\nconst today = new Date();\nconst todayStr = today.toISOString().split('T')[0]; // YYYY-MM-DD\nconst sevenDaysStr = new Date(today.getTime() + 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];\n\nconst milestones = [];\n\nfor (const item of contacts) {\n  const c = item.json;\n  const birthDate = c.dateOfBirth || c.customFields?.find(f => f.key === 'date_of_birth')?.value;\n  if (!birthDate) continue;\n  \n  // Check if birthday is in next 7 days\n  const birthMonthDay = birthDate.slice(5, 10); // MM-DD\n  const thisYearBirthday = `${today.getFullYear()}-${birthMonthDay}`;\n  \n  if (thisYearBirthday >= todayStr && thisYearBirthday <= sevenDaysStr) {\n    const age = today.getFullYear() - parseInt(birthDate.split('-')[0]);\n    \n    let milestoneType = 'Birthday';\n    if (age === 64) milestoneType = 'Turning 65 - Medicare Eligible';\n    else if (age === 65) milestoneType = 'Medicare Milestone';\n    else if (age === 50) milestoneType = 'Life Insurance Milestone';\n    \n    milestones.push({\n      ...c,\n      milestoneType,\n      age,\n      birthdayThisYear: thisYearBirthday\n    });\n  }\n}\n\nreturn milestones.map(c => ({ json: c }));"
      },
      "id": "birthday-filter",
      "name": "Find Birthday Milestones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "id": "is-turning-65", "leftValue": "={{$json.age}}", "rightValue": 64, "operator": { "type": "number", "operation": "gte" } }]
        }
      },
      "id": "milestone-filter",
      "name": "Medicare Milestone Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "fromAddress": "={{$env.EMAIL_FROM}}",
        "toAddress": "={{$json.email}}",
        "subject": "🎂 Happy Birthday, {{$json.firstName}}!",
        "html": "<h1>Happy Birthday!</h1><p>Hi {{$json.firstName}},</p><p>Wishing you a wonderful birthday! As you celebrate, now is a great time to review your health coverage.</p><p>If you're turning 65 soon, congratulations on reaching Medicare eligibility! <strong>Would you like to schedule a free consultation</strong> to understand your Medicare options?</p><p><a href=\"https://buckalewfinancialservices.com/contact\">Book Your Free Review →</a></p><p>To your health,<br/>Larry Buckalew</p>"
      },
      "id": "milestone-email",
      "name": "Send Milestone Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1.1,
      "position": [980, 200]
    },
    {
      "parameters": {
        "operation": "send",
        "fromAddress": "={{$env.EMAIL_FROM}}",
        "toAddress": "={{$json.email}}",
        "subject": "🎉 Happy Birthday, {{$json.firstName}}!",
        "html": "<h1>Happy Birthday!</h1><p>Hi {{$json.firstName}},</p><p>Wishing you a wonderful birthday! Thank you for being a valued client of Buckalew Financial.</p><p>Best wishes,<br/>Larry Buckalew<br/>Buckalew Financial Services</p>"
      },
      "id": "standard-birthday",
      "name": "Send Birthday Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1.1,
      "position": [980, 400]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "{{$env.TELEGRAM_CHAT_ID}}" },
            { "name": "text", "value": "🎂 *Birthday Milestone*\\n\\n*{{$json.firstName}} {{$json.lastName}}*\\nAge: {{$json.age}}\\nType: {{$json.milestoneType}}\\nBirthday: {{$json.birthdayThisYear}}\\nEmail: {{$json.email}}" },
            { "name": "parse_mode", "value": "Markdown" }
          ]
        }
      },
      "id": "telegram-notify",
      "name": "Notify Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 200]
    }
  ],
  "connections": {
    "Daily 8AM Trigger": { "main": [[{ "node": "Get All Contacts", "type": "main", "index": 0 }]] },
    "Get All Contacts": { "main": [[{ "node": "Find Birthday Milestones", "type": "main", "index": 0 }]] },
    "Find Birthday Milestones": { "main": [[{ "node": "Medicare Milestone Filter", "type": "main", "index": 0 }]] },
    "Medicare Milestone Filter": {
      "main": [
        [{ "node": "Send Milestone Email", "type": "main", "index": 0 }],
        [{ "node": "Send Birthday Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Milestone Email": { "main": [[{ "node": "Notify Agent", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["insurance", "birthday", "milestone", "medicare"],
  "meta": { "templateCredsSetupCount": 0 }
}
