05-quote-automation.json
{
  "name": "Insurance Quote Request Automation",
  "nodes": [
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/hooks/YOUR_FORM_ID_HERE/catch",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": { "parameters": [] },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "first_name", "value": "" },
            { "name": "last_name", "value": "" },
            { "name": "email", "value": "" },
            { "name": "phone", "value": "" },
            { "name": "coverage_type", "value": "" },
            { "name": "age", "value": "" },
            { "name": "state", "value": "" },
            { "name": "coverage_amount", "value": "" },
            { "name": "health_conditions", "value": "" }
          ]
        }
      },
      "id": "quote-form-trigger",
      "name": "Quote Form Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/contacts/",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.GHL_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "firstName", "value": "={{$json.first_name}}" },
            { "name": "lastName", "value": "={{$json.last_name}}" },
            { "name": "email", "value": "={{$json.email}}" },
            { "name": "phone", "value": "={{$json.phone}}" },
            { "name": "locationId", "value": "GXAzp8lTmMJ93EPLDBmW" },
            { "name": "source", "value": "Quote Request Form" },
            { "name": "tags", "value": "=[\"Quote Request\", \"{{$json.coverage_type}}\"]" }
          ]
        }
      },
      "id": "create-contact",
      "name": "Create GHL Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "jsCode": "// Estimate quote range based on age, coverage type, and state\nconst data = $input.first().json;\nconst age = parseInt(data.age) || 50;\nconst coverageType = (data.coverage_type || '').toLowerCase();\nconst state = (data.state || 'FL').toUpperCase();\nconst coverageAmount = parseInt(data.coverage_amount) || 250000;\n\nlet estimatedMonthly = 0;\nlet quoteGuide = '';\n\nif (coverageType.includes('life') || coverageType.includes('term')) {\n  // Term life estimate (simplified)\n  if (age <= 40) estimatedMonthly = coverageAmount / 1000 * 1.5;\n  else if (age <= 55) estimatedMonthly = coverageAmount / 1000 * 2.5;\n  else estimatedMonthly = coverageAmount / 1000 * 4.5;\n  quoteGuide = 'term-life-guide';\n} else if (coverageType.includes('medicare') || coverageType.includes('supplement')) {\n  // Medicare supplement\n  estimatedMonthly = 150 + (age - 65) * 5;\n  quoteGuide = 'medicare-supplement-guide';\n} else if (coverageType.includes('health')) {\n  estimatedMonthly = 400 + (age - 30) * 15;\n  quoteGuide = 'health-insurance-guide';\n} else {\n  estimatedMonthly = 300;\n  quoteGuide = 'general-insurance-guide';\n}\n\nreturn {\n  ...data,\n  estimatedMonthly: Math.round(estimatedMonthly * 100) / 100,\n  coverageAmount,\n  quoteGuide,\n  state,\n  licensedState: ['FL','TX','CA','NC','SC','MI'].includes(state)\n};"
      },
      "id": "quote-estimator",
      "name": "Estimate Quote Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "id": "not-licensed", "leftValue": "={{$json.licensedState}}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        }
      },
      "id": "state-check",
      "name": "Licensed State Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "fromAddress": "={{$env.EMAIL_FROM}}",
        "toAddress": "={{$json.email}}",
        "subject": "Your Insurance Quote Request - Buckalew Financial",
        "html": "<h1>Thank You for Your Quote Request</h1><p>Hi {{$json.first_name}},</p><p>Thank you for requesting a quote for <strong>{{$json.coverage_type}}</strong>.</p><p>Based on the information you provided:</p><ul><li><strong>Coverage Type:</strong> {{$json.coverage_type}}</li><li><strong>State:</strong> {{$json.state}}</li><li><strong>Estimated Range:</strong> ${{$json.estimatedMonthly}}/month</li></ul><p>Please note: This is a rough estimate. Your actual quote may vary based on final underwriting.</p><p>A licensed agent will review your request and contact you within 24 hours.</p><p><a href=\"https://buckalewfinancialservices.com/contact\">Questions? Book a call here →</a></p><p>To your health,<br/>Larry Buckalew<br/>Buckalew Financial Services<br/>License: W248767</p>"
      },
      "id": "quote-email",
      "name": "Send Quote Confirmation Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1.1,
      "position": [980, 200]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "{{$env.TELEGRAM_CHAT_ID}}" },
            { "name": "text", "value": "📋 *New Quote Request*\\n\\n*Name:* {{$json.first_name}} {{$json.last_name}}\\n*Email:* {{$json.email}}\\n*Phone:* {{$json.phone}}\\n*Coverage:* {{$json.coverage_type}}\\n*State:* {{$json.state}}\\n*Est. Monthly:* ${{$json.estimatedMonthly}}\\n\\n_Priority: {{$json.licensedState ? 'IN STATE' : 'OUT OF STATE'}}_" },
            { "name": "parse_mode", "value": "Markdown" }
          ]
        }
      },
      "id": "telegram-alert",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [980, 400]
    },
    {
      "parameters": {
        "operation": "send",
        "fromAddress": "={{$env.EMAIL_FROM}}",
        "toAddress": "={{$json.email}}",
        "subject": "Unfortunately, we're not licensed in {{$json.state}} yet",
        "html": "<h1>Quote Request Received</h1><p>Hi {{$json.first_name}},</p><p>Thank you for your interest in Buckalew Financial Services.</p><p>Unfortunately, we are not yet licensed to provide insurance in <strong>{{$json.state}}</strong>.</p><p>We are expanding! Enter your email below and we'll notify you when we become licensed in your state.</p><p>We're currently licensed in: Florida, Texas, California, North Carolina, South Carolina, and Michigan.</p><p>Thank you for your understanding.</p><p>Warm regards,<br/>Larry Buckalew<br/>Buckalew Financial Services</p>"
      },
      "id": "out-of-state-email",
      "name": "Out of State Email",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1.1,
      "position": [980, 600]
    },
    {
      "parameters": {
        "operation": "schedule",
        "entityType": "contact",
        "contactId": "={{$json.id}}",
        "rule": { "frequency": "once", "day": 1, "month": "day", "hour": 10, "minute": 0 },
        "title": "Quote follow-up: {{$json.first_name}} {{$json.last_name}}",
        "assignedTo": "={{$env.AGENT_USER_ID}}",
        "notes": "Coverage: {{$json.coverage_type}} | Est: ${{$json.estimatedMonthly}}/mo | State: {{$json.state}}"
      },
      "id": "create-task",
      "name": "Create Follow-up Task",
      "type": "n8n-nodes-base.goHighLevel",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Quote Form Trigger": { "main": [[{ "node": "Create GHL Contact", "type": "main", "index": 0 }]] },
    "Create GHL Contact": { "main": [[{ "node": "Estimate Quote Range", "type": "main", "index": 0 }]] },
    "Estimate Quote Range": { "main": [[{ "node": "Licensed State Check", "type": "main", "index": 0 }]] },
    "Licensed State Check": {
      "main": [
        [{ "node": "Send Quote Confirmation Email", "type": "main", "index": 0 }],
        [{ "node": "Out of State Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Quote Confirmation Email": { "main": [[{ "node": "Telegram Alert", "type": "main", "index": 0 }]] },
    "Telegram Alert": { "main": [[{ "node": "Create Follow-up Task", "type": "main", "index": 0 }]] },
    "Out of State Email": { "main": [[{ "node": "Create Follow-up Task", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["insurance", "quote", "lead-capture"],
  "meta": { "templateCredsSetupCount": 0 }
}
