06-social-media.json
{
  "name": "Insurance Social Media Auto-Poster",
  "nodes": [
    {
      "parameters": {
        "rule": { "cronExpression": "0 10 * * 2,4,6" },
        "activate": true,
        "timezone": "America/New_York"
      },
      "id": "schedule-trigger",
      "name": "Post Schedule (Tue/Thu/Sat 10AM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1.2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate insurance/Medicare educational content\nconst topics = [\n  { topic: 'Medicare Part D', angle: 'What to look for in prescription drug plans during AEP', type: 'Medicare' },\n  { topic: 'Medicare Advantage', angle: '3 benefits many people miss with MA plans', type: 'Medicare' },\n  { topic: 'Life Insurance', angle: 'Why 50 is the age most people wish they had started coverage', type: 'Life' },\n  { topic: 'Medicare Supplements', angle: 'Medigap vs Medicare Advantage - pros and cons', type: 'Medicare' },\n  { topic: 'Health Insurance', angle: 'Open Enrollment countdown - what to review', type: 'Health' },\n  { topic: 'Final Expense', angle: 'Why final expense insurance matters for your family', type: 'Life' },\n  { topic: 'Medicare Eligibility', angle: 'Turning 65 soon? Here is your Medicare checklist', type: 'Medicare' },\n  { topic: 'Medicare Part B', angle: 'Understanding the Medicare Part B enrollment periods', type: 'Medicare' }\n];\n\nconst dayOfWeek = new Date().getDay();\nconst useTopic = topics[dayOfWeek % topics.length];\n\nconst templates = [\n  `🛡️ ${useTopic.angle}\\n\\nWhen it comes to ${useTopic.topic}, many people don't know where to start. Here's what you need to know:\\n\\n→ Know your enrollment windows\\n→ Compare plan costs, not just premiums\\n→ Consider your health needs, not just price\\n\\nNeed help navigating your options? I'm here.\\n\\n#${useTopic.type} #Medicare #Insurance #BuckalewFinancial`,\n  \n  `📋 ${useTopic.angle}\\n\\nMost people don't realize that ${useTopic.topic} decisions made at 65 affect their healthcare costs for decades.\\n\\nThat's why working with a licensed agent matters. We help you understand the fine print.\\n\\n#${useTopic.type} #Medicare #HealthInsurance #Insurance`,\n  \n  `💡 ${useTopic.angle}\\n\\nQuick tip: Before your next enrollment period, make a list of:\\n\\n✓ Your current prescriptions\\n✓ Your doctors you want to keep\\n✓ Your budget for healthcare\\n\\nThen let's talk. Free consultations available.\\n\\n#${useTopic.type} #Medicare #InsuranceTips #MedicareEnrollment`\n];\n\nconst post = templates[dayOfWeek % templates.length];\n\nreturn [{ json: { content: post, topic: useTopic.topic, type: useTopic.type, generatedAt: new Date().toISOString() } }];"
      },
      "id": "content-generator",
      "name": "AI Content Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "id": "has-token", "leftValue": "{{$env.POSTIZ_API_KEY}}", "rightValue": "", "operator": { "type": "string", "operation": "notExists" } }
          ]
        }
      },
      "id": "postiz-check",
      "name": "Postiz Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "url": "=https://api.postiz.com/api/v1/post",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.POSTIZ_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "content", "value": "={{$json.content}}" },
            { "name": "socialMedia", "value": "=[\"twitter\", \"linkedin\"]" },
            { "name": "scheduledAt", "value": "" }
          ]
        }
      },
      "id": "postiz-post",
      "name": "Post via Postiz API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 200]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/tweets",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.TWITTER_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "text", "value": "={{$json.content}}" }
          ]
        }
      },
      "id": "postiz-post",
      "name": "Post via Twitter API v2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 400]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/tweets",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.TWITTER_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "text", "value": "={{$json.content}}" }
          ]
        }
      },
      "id": "twitter-direct",
      "name": "Fallback: Manual Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 600]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "{{$env.TELEGRAM_CHAT_ID}}" },
            { "name": "text", "value": "📱 *Social Post Published*\\n\\n*Topic:* {{$json.topic}}\\n*Type:* {{$json.type}}\\n\\n{{$json.content}}\\n\\n_Automated post via n8n_", "parse_mode": "Markdown" }
          ]
        }
      },
      "id": "telegram-notify",
      "name": "Notify Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/contacts/?locationId=GXAzp8lTmMJ93EPLDBmW&limit=1",
        "requestMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.GHL_API_KEY}}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        }
      },
      "id": "log-post",
      "name": "Log Post in CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Post Schedule (Tue/Thu/Sat 10AM)": { "main": [[{ "node": "AI Content Generator", "type": "main", "index": 0 }]] },
    "AI Content Generator": { "main": [[{ "node": "Postiz Available?", "type": "main", "index": 0 }]] },
    "Postiz Available?": {
      "main": [
        [{ "node": "Post via Postiz API", "type": "main", "index": 0 }],
        [{ "node": "Fallback: Manual Post", "type": "main", "index": 0 }]
      ]
    },
    "Post via Postiz API": { "main": [[{ "node": "Notify Agent", "type": "main", "index": 0 }]] },
    "Fallback: Manual Post": { "main": [[{ "node": "Notify Agent", "type": "main", "index": 0 }]] },
    "Notify Agent": { "main": [[{ "node": "Log Post in CRM", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["social-media", "automation", "insurance", "content"],
  "meta": { "templateCredsSetupCount": 0 }
}
